name: Continuous Integration UI

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v2
      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
        env:
          HD_BASE_URL: ${{ secrets.API_URL }}
          HD_NODE_BUILD_FLAGS: "--prod"
#  test:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Setup repo
#        uses: actions/checkout@v2
#
#      - name: Use Node.js 12
#        uses: actions/setup-node@v1
#        with:
#          node-version: 12.x
#      - name: Install dependencies
#        run: npm ci
#      - name: Run Tests
#        run: |
#          npm run test:headless
